Tools/XmlSchemas/GameCore/CraftingPieces.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="CraftingPieces">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CraftingPiece" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element name="BladeData" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Thrust" minOccurs="0">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="damage_type" type="xs:string" use="required"/>
                        <xs:attribute name="damage_factor" type="xs:decimal" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Swing" minOccurs="0">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="damage_type" type="xs:string" use="required"/>
                        <xs:attribute name="damage_factor" type="xs:decimal" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="stack_amount" type="xs:unsignedShort" use="optional"/>
                  <xs:attribute name="blade_length" type="xs:decimal" use="optional"/>
                  <xs:attribute name="blade_width" type="xs:decimal" use="optional"/>
                  <xs:attribute name="physics_material" type="xs:string" use="required"/>
                  <xs:attribute name="body_name" type="xs:string" use="required"/>
                  <xs:attribute name="holster_mesh" type="xs:string" use="optional"/>
                  <xs:attribute name="holster_body_name" type="xs:string" use="optional"/>
                  <xs:attribute name="holster_mesh_length" type="xs:decimal" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="BuildData" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="next_piece_offset" type="xs:decimal" use="optional"/>
                  <xs:attribute name="previous_piece_offset" type="xs:decimal" use="optional"/>
                  <xs:attribute name="piece_offset" type="xs:decimal" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Materials" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Material" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="count" type="xs:decimal" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- id attribute is unique for Material -->
                <xs:unique name="Material_unique_attribute">
                  <xs:selector xpath="Material"/>
                  <xs:field xpath="@id"/>
                </xs:unique>
              </xs:element>
              <xs:element name="StatContributions" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="armor_bonus" type="xs:integer" use="optional"/>
                  <xs:attribute name="swing_damage_bonus" type="xs:integer" use="optional"/>
                  <xs:attribute name="swing_speed_bonus" type="xs:integer" use="optional"/>
                  <xs:attribute name="thrust_damage_bonus" type="xs:integer" use="optional"/>
                  <xs:attribute name="thrust_speed_bonus" type="xs:integer" use="optional"/>
                  <xs:attribute name="handling_bonus" type="xs:integer" use="optional"/>
                  <xs:attribute name="accuracy_bonus" type="xs:integer" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Flags" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Flag" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="type" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- name attribute is unique for Flag -->
                <xs:unique name="Flag_unique_attribute">
                  <xs:selector xpath="Flag"/>
                  <xs:field xpath="@name"/>
                </xs:unique>
              </xs:element>
              <xs:element name="CraftingTemplates" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CraftingTemplate" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- id attribute is unique for CraftingTemplate -->
                <xs:unique name="CraftingTemplate_unique_attribute">
                  <xs:selector xpath="CraftingTemplate"/>
                  <xs:field xpath="@id"/>
                </xs:unique>
              </xs:element>
            </xs:all>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="piece_type" type="xs:string" use="required"/>
            <xs:attribute name="mesh" type="xs:string" use="required"/>
            <xs:attribute name="culture" type="xs:string" use="optional"/>
            <xs:attribute name="length" type="xs:decimal" use="optional"/>
            <xs:attribute name="distance_to_next_piece" type="xs:decimal" use="optional"/>
            <xs:attribute name="distance_to_previous_piece" type="xs:decimal" use="optional"/>
            <xs:attribute name="weight" type="xs:decimal" use="required"/>
            <xs:attribute name="appearance" type="xs:decimal" use="optional"/>
            <xs:attribute name="center_of_mass" type="xs:decimal" use="optional"/>
            <xs:attribute name="full_scale" type="xs:string" use="optional"/>
            <xs:attribute name="tier" type="xs:string" use="optional"/>
            <xs:attribute name="is_default" type="xs:boolean" use="optional"/>
            <xs:attribute name="is_hidden" type="xs:boolean" use="optional"/>
            <xs:attribute name="required_skill_value" type="xs:unsignedInt" use="optional"/>
            <xs:attribute name="item_holster_pos_shift" type="xs:string" use="optional"/>
            <xs:attribute name="excluded_item_usage_features" type="xs:string" use="optional"/>
            <xs:attribute name="CraftingCost" type="xs:decimal" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- id attribute is unique for CraftingPiece -->
    <xs:unique name="CraftingPiece_unique_attribute">
      <xs:selector xpath="CraftingPiece"/>
      <xs:field xpath="@id"/>
    </xs:unique>

  </xs:element>
</xs:schema>
