Tools/XmlSchemas/GameCore/CraftingTemplates.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="CraftingTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CraftingTemplate" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PieceDatas">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PieceData" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="piece_type" type="xs:string" use="required"/>
                        <xs:attribute name="build_order" type="xs:string" use="required"/>
                        <xs:attribute name="enforced_piece_shift_amount" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- piece_type attribute is unique for PieceData -->
                <xs:unique name="PieceData_unique_attribute">
                  <xs:selector xpath="PieceData"/>
                  <xs:field xpath="@piece_type"/>
                </xs:unique>
              </xs:element>
              <xs:element name="WeaponDescriptions">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="WeaponDescription" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- id attribute is unique for CraftingTemplate -->
                <xs:unique name="WeaponDescription_unique_attribute">
                  <xs:selector xpath="WeaponDescription"/>
                  <xs:field xpath="@id"/>
                </xs:unique>
              </xs:element>
              <xs:element name="StatsData" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StatData" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="stat_type" type="xs:string" use="required"/>
                        <xs:attribute name="max_value" type="xs:decimal" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="weapon_description" type="xs:string" use="optional"/>
                </xs:complexType>
                <!-- stat_type attribute is unique for UsablePiece -->
                <xs:unique name="StatData_unique_attribute">
                  <xs:selector xpath="StatData"/>
                  <xs:field xpath="@stat_type"/>
                </xs:unique>
              </xs:element>
              <xs:element name="UsablePieces">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="UsablePiece" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="piece_id" type="xs:string" use="required"/>
                        <xs:attribute name="mp_piece" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- piece_id attribute is unique for UsablePiece -->
                <xs:unique name="UsablePiece_unique_attribute">
                  <xs:selector xpath="UsablePiece"/>
                  <xs:field xpath="@piece_id"/>
                </xs:unique>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="item_type" type="xs:string" use="required"/>
            <xs:attribute name="modifier_group" type="xs:string" use="required"/>
            <xs:attribute name="item_holsters" type="xs:string" use="required"/>
            <xs:attribute name="piece_type_to_scale_holster_with" type="xs:string" use="optional"/>
            <xs:attribute name="hidden_piece_types_on_holster" type="xs:string" use="optional"/>
            <xs:attribute name="default_item_holster_position_offset" type="xs:string" use="required"/>
            <xs:attribute name="rotate_weapon_in_holster" type="xs:string" use="optional"/>
            <xs:attribute name="use_weapon_as_holster_mesh" type="xs:string" use="optional"/>
            <xs:attribute name="always_show_holster_with_weapon" type="xs:string" use="optional"/>
          </xs:complexType>
          <!-- stat_type attribute is unique for UsablePiece -->
          <xs:unique name="StatsData_unique_attribute">
            <xs:selector xpath="StatsData"/>
            <xs:field xpath="@weapon_description"/>
          </xs:unique>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- id attribute is unique for CraftingTemplate -->
    <xs:unique name="CraftingTemplate_unique_attribute">
      <xs:selector xpath="CraftingTemplate"/>
      <xs:field xpath="@id"/>
    </xs:unique>

  </xs:element>
</xs:schema>
