Tools/XmlSchemas/GameCore/CustomBattleScenes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CustomBattleScenes">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Scene">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="TerrainTypes">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="TerrainType">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="required" />
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="terrain" type="xs:string" use="optional" />
						<xs:attribute name="forest_density" type="xs:string" use="optional" />
						<xs:attribute name="is_siege_map" type="xs:boolean" use="optional" />
						<xs:attribute name="is_village_map" type="xs:boolean" use="optional" />
						<xs:attribute name="is_lords_hall_map" type="xs:boolean" use="optional" />
						<xs:attribute name="is_naval_map" type="xs:boolean" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>