Tools/XmlSchemas/GameCore/ItemModifierGroups.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns=""
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" id="ItemModifierGroups">
  <xs:element name="ItemModifierGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ItemModifierGroup">
          <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="no_modifier_loot_score" type="xs:int" use="required"/>
            <xs:attribute name="no_modifier_production_score" type="xs:int" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- id attribute is unique for ItemModifierGroup -->
    <xs:unique name="ItemModifierGroup_unique_attribute">
      <xs:selector xpath="ItemModifierGroup"/>
      <xs:field xpath="@id"/>
    </xs:unique>

  </xs:element>
</xs:schema>
