Tools/XmlSchemas/GameCore/ItemModifiers.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns=""
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" id="ItemModifiers">
  <xs:element name="ItemModifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ItemModifier">
          <xs:complexType>
            <xs:attribute name="modifier_group" type="xs:string" use="required"/>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="loot_drop_score" type="xs:int" use="required"/>
            <xs:attribute name="production_drop_score" type="xs:int" use="required"/>
            <xs:attribute name="damage" type="xs:int" use="optional"/>
            <xs:attribute name="speed" type="xs:int" use="optional"/>
            <xs:attribute name="weight_factor" type="xs:decimal" use="optional"/>
            <xs:attribute name="stack_count" type="xs:int" use="optional"/>
            <xs:attribute name="price_factor" type="xs:decimal" use="optional"/>
            <xs:attribute name="missile_speed" type="xs:int" use="optional"/>
            <xs:attribute name="hit_points" type="xs:int" use="optional"/>
            <xs:attribute name="horse_hit_points" type="xs:decimal" use="optional"/>
            <xs:attribute name="armor" type="xs:int" use="optional"/>
            <xs:attribute name="horse_speed" type="xs:decimal" use="optional"/>
            <xs:attribute name="maneuver" type="xs:decimal" use="optional"/>
            <xs:attribute name="charge_damage" type="xs:decimal" use="optional"/>
            <xs:attribute name="quality" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- id attribute is unique for ItemModifier -->
    <xs:unique name="ItemModifier_unique_attribute">
      <xs:selector xpath="ItemModifier"/>
      <xs:field xpath="@id"/>
    </xs:unique>

  </xs:element>
</xs:schema>
