Tools/XmlSchemas/GameCore/MusicTracks.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" id="MusicTracks">
  <xs:element name="MusicTracks">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="MusicTrack">
          <xs:complexType>
            <xs:all>
              <xs:element name="Instruments">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Instrument">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="event_id" type="xs:string" use="required"/>
            <xs:attribute name="culture" type="xs:string" use="required"/>
            <xs:attribute name="location" type="xs:string" use="required"/>
            <xs:attribute name="tempo" type="xs:unsignedByte" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- id attribute is unique for MusicTrack -->
    <xs:unique name="MusicTrack_unique_attribute">
      <xs:selector xpath="MusicTrack"/>
      <xs:field xpath="@id"/>
    </xs:unique>

  </xs:element>
</xs:schema>
