Tools/XmlSchemas/GameCore/MusicInstruments.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" id="MusicInstruments">
  <xs:element name="MusicInstruments">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="MusicInstrument" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element name="Entities">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Entity" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="bone" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- bone attribute is unique for Entity -->
                <xs:unique name="Entity_unique_attribute">
                  <xs:selector xpath="Entity"/>
                  <xs:field xpath="@bone"/>
                </xs:unique>
              </xs:element>
            </xs:all>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="sittingAction" type="xs:string" use="required"/>
            <xs:attribute name="standingAction" type="xs:string" use="required"/>
            <xs:attribute name="tag" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- id attribute is unique for MusicInstrument -->
    <xs:unique name="MusicInstrument_unique_attribute">
      <xs:selector xpath="MusicInstrument"/>
      <xs:field xpath="@id"/>
    </xs:unique>

  </xs:element>
</xs:schema>
