Tools/XmlSchemas/GameCore/ShipSlots.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="ShipSlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ShipSlot" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="ShipUpgradePieces" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ShipUpgradePiece" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="id" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- id attribute is unique for ShipUpgradePiece -->
                <xs:unique name="ShipUpgradePiece_unique_attribute">
                  <xs:selector xpath="ShipUpgradePiece"/>
                  <xs:field xpath="@id"/>
                </xs:unique>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="required"/>
            <xs:attribute type="xs:string" name="type_id" use="required"/>
            <xs:attribute type="xs:string" name="prefab_id" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- id attribute is unique for ShipSlot -->
    <xs:unique name="ShipSlot_unique_attribute">
      <xs:selector xpath="ShipSlot"/>
      <xs:field xpath="@id"/>
    </xs:unique>

  </xs:element>
</xs:schema>
