Tools/XmlSchemas/GameCore/soln_movement_sets.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" id="movement_sets" elementFormDefault="qualified">
  <xs:element name="movement_sets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="movement_set" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="idle" type="xs:string" use="optional"/>
            <xs:attribute name="forward" type="xs:string" use="optional"/>
            <xs:attribute name="backward" type="xs:string" use="optional"/>
            <xs:attribute name="right" type="xs:string" use="optional"/>
            <xs:attribute name="right_back" type="xs:string" use="optional"/>
            <xs:attribute name="left" type="xs:string" use="optional"/>
            <xs:attribute name="left_back" type="xs:string" use="optional"/>
            <xs:attribute name="left_to_right" type="xs:string" use="optional"/>
            <xs:attribute name="right_to_left" type="xs:string" use="required"/>
            <xs:attribute name="rotate" type="xs:string" use="optional"/>
            <xs:attribute name="forward_adder" type="xs:string" use="optional"/>
            <xs:attribute name="backward_adder" type="xs:string" use="optional"/>
            <xs:attribute name="right_adder" type="xs:string" use="optional"/>
            <xs:attribute name="right_back_adder" type="xs:string" use="optional"/>
            <xs:attribute name="left_adder" type="xs:string" use="optional"/>
            <xs:attribute name="left_back_adder" type="xs:string" use="optional"/>
            <xs:attribute name="left_to_right_adder" type="xs:string" use="optional"/>
            <xs:attribute name="right_to_left_adder" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- guid attribute is unique for action_set -->
    <xs:unique name="movement_set_unique_attribute">
      <xs:selector xpath="movement_set"/>
      <xs:field xpath="@id"/>
    </xs:unique>

  </xs:element>
</xs:schema>
