Tools/XmlSchemas/GameCore/soln_skins.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" id="skins" elementFormDefault="qualified">

  <xs:simpleType name="CommaSeparatedFloatTriplet">
    <xs:restriction base="xs:string">
      <xs:pattern value="-?\d+(\.\d+)?, -?\d+(\.\d+)?, -?\d+(\.\d+)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="skins">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="race" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="skin" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="deform_keys" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="deform_key" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="bone_scales" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                                    </xs:appinfo>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="bone_scale" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:attribute name="bone_type" type="xs:string" use="required"/>
                                          <xs:attribute name="axis" type="xs:string" use="required"/>
                                          <xs:attribute name="key_min" type="xs:string" use="optional"/>
                                          <xs:attribute name="key_max" type="xs:string" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                  <!-- bone_type and axis attributes are unique for bone_scale -->
                                  <xs:unique name="bone_scale_gradient_point_unique_attribute">
                                    <xs:selector xpath="bone_scale"/>
                                    <xs:field xpath="@bone_type"/>
                                    <xs:field xpath="@axis"/>
                                  </xs:unique>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string" use="required"/>
                              <xs:attribute name="key_time_point" type="xs:integer" use="optional"/>
                              <xs:attribute name="key_min" type="xs:float" use="optional"/>
                              <xs:attribute name="key_max" type="xs:float" use="optional"/>
                              <xs:attribute name="name" type="xs:string" use="optional"/>
                              <xs:attribute name="group_id" type="xs:integer" use="optional"/>
                              <xs:attribute name="helmet_scaling_factor_min" type="CommaSeparatedFloatTriplet" use="optional"/>
                              <xs:attribute name="helmet_scaling_factor_max" type="CommaSeparatedFloatTriplet" use="optional"/>
                              <xs:attribute name="deforms_hair" type="xs:float" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                      <!-- id attribute is unique for deform_key -->
                      <xs:unique name="deform_key_unique_attribute">
                        <xs:selector xpath="deform_key"/>
                        <xs:field xpath="@id"/>
                      </xs:unique>
                    </xs:element>
                    <xs:element name="presets" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="voice_types" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="voice_type" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                      <!-- name attribute is unique for voice_type -->
                      <xs:unique name="voice_type_unique_attribute">
                        <xs:selector xpath="voice_type"/>
                        <xs:field xpath="@name"/>
                      </xs:unique>
                    </xs:element>
                    <xs:element name="default_hair_meshes" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="cover_type1" type="xs:string" use="optional"/>
                        <xs:attribute name="cover_type2" type="xs:string" use="optional"/>
                        <xs:attribute name="cover_type3" type="xs:string" use="optional"/>
                        <xs:attribute name="cover_type4" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="hair_meshes" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="hair_mesh" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="style_tags" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                                    </xs:appinfo>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="style_tag" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:attribute name="name" type="xs:string" use="required"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                  <!-- name attribute is unique for style_tag -->
                                  <xs:unique name="style_tag_unique_attribute">
                                    <xs:selector xpath="style_tag"/>
                                    <xs:field xpath="@name"/>
                                  </xs:unique>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="optional"/>
                              <xs:attribute name="cover_type1" type="xs:string" use="optional"/>
                              <xs:attribute name="cover_type2" type="xs:string" use="optional"/>
                              <xs:attribute name="cover_type3" type="xs:string" use="optional"/>
                              <xs:attribute name="cover_type4" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="group_id" type="xs:integer" use="optional"/>
                      </xs:complexType>
                      <!-- name attribute is unique for hair_mesh -->
                      <xs:unique name="hair_mesh_unique_attribute">
                        <xs:selector xpath="hair_mesh"/>
                        <xs:field xpath="@name"/>
                      </xs:unique>
                    </xs:element>
                    <xs:element name="eyebrow_meshes" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="eyebrow_mesh" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                      <!-- name attribute is unique for eyebrow_mesh -->
                      <xs:unique name="eyebrow_mesh_unique_attribute">
                        <xs:selector xpath="eyebrow_mesh"/>
                        <xs:field xpath="@name"/>
                      </xs:unique>
                    </xs:element>
                    <xs:element name="default_beard_meshes" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="cover_type1" type="xs:string" use="optional"/>
                        <xs:attribute name="cover_type2" type="xs:string" use="optional"/>
                        <xs:attribute name="cover_type3" type="xs:string" use="optional"/>
                        <xs:attribute name="cover_type4" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="beard_meshes" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="beard_mesh" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="style_tags" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                                    </xs:appinfo>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="style_tag" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:attribute name="name" type="xs:string" use="required"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                  <!-- name attribute is unique for style_tag -->
                                  <xs:unique name="style_beard_tag_unique_attribute">
                                    <xs:selector xpath="style_tag"/>
                                    <xs:field xpath="@name"/>
                                  </xs:unique>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="optional"/>
                              <xs:attribute name="cover_type1" type="xs:string" use="optional"/>
                              <xs:attribute name="cover_type2" type="xs:string" use="optional"/>
                              <xs:attribute name="cover_type3" type="xs:string" use="optional"/>
                              <xs:attribute name="cover_type4" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="group_id" type="xs:integer" use="optional"/>
                      </xs:complexType>
                      <!-- name attribute is unique for beard_mesh -->
                      <!-- <xs:unique name="beard_mesh_unique_attribute">
                        <xs:selector xpath="beard_mesh"/>
                        <xs:field xpath="@name"/>
                      </xs:unique> -->
                    </xs:element>
                    <xs:element name="tattoo_materials" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tattoo_material" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="style_tags" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                                    </xs:appinfo>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="style_tag" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:attribute name="name" type="xs:string" use="required"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="optional"/>
                              <xs:attribute name="tags" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="group_id" type="xs:integer" use="optional"/>
                      </xs:complexType>
                      <!-- name attribute is unique for tattoo_material -->
                      <!-- <xs:unique name="tattoo_material_unique_attribute">
                        <xs:selector xpath="tattoo_material"/>
                        <xs:field xpath="@name"/>
                      </xs:unique> -->
                    </xs:element>
                    <xs:element name="tattoo_color_gradient_points" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tattoo_color_gradient_point" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="point" type="CommaSeparatedFloatTriplet" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                      <!-- point attribute is unique for tattoo_color_gradient_point -->
                      <xs:unique name="tattoo_color_gradient_point_unique_attribute">
                        <xs:selector xpath="tattoo_color_gradient_point"/>
                        <xs:field xpath="@point"/>
                      </xs:unique>
                    </xs:element>
                    <xs:element name="hair_color_gradient_points" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="hair_color_gradient_point" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="point" type="CommaSeparatedFloatTriplet" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                      <!-- point attribute is unique for hair_color_gradient_point -->
                      <xs:unique name="hair_color_gradient_point_unique_attribute">
                        <xs:selector xpath="hair_color_gradient_point"/>
                        <xs:field xpath="@point"/>
                      </xs:unique>
                    </xs:element>
                    <xs:element name="skin_color_gradient_points" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="skin_color_gradient_point" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="point" type="CommaSeparatedFloatTriplet" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                      <!-- point attribute is unique for skin_color_gradient_point -->
                      <xs:unique name="skin_color_gradient_point_unique_attribute">
                        <xs:selector xpath="skin_color_gradient_point"/>
                        <xs:field xpath="@point"/>
                      </xs:unique>
                    </xs:element>
                    <xs:element name="eye_color_gradient_points" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="eye_color_gradient_point" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="point" type="CommaSeparatedFloatTriplet" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                      <!-- point attribute is unique for eye_color_gradient_point -->
                      <xs:unique name="eye_color_gradient_point_unique_attribute">
                        <xs:selector xpath="eye_color_gradient_point"/>
                        <xs:field xpath="@point"/>
                      </xs:unique>
                    </xs:element>
                    <xs:element name="face_textures" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="face_texture" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required"/>
                              <xs:attribute name="lod_material" type="xs:string" use="optional"/>
                              <xs:attribute name="color" type="xs:string" use="optional"/>
                              <xs:attribute name="tags" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="group_id" type="xs:string" use="optional"/>
                      </xs:complexType>
                      <!-- name attribute is unique for face_texture -->
                      <xs:unique name="face_texture_unique_attribute">
                        <xs:selector xpath="face_texture"/>
                        <xs:field xpath="@name"/>
                      </xs:unique>
                    </xs:element>
                    <xs:element name="mouth_textures" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="mouth_texture" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required"/>
                              <xs:attribute name="lod_material" type="xs:string" use="optional"/>
                              <xs:attribute name="color" type="xs:string" use="optional"/>
                              <xs:attribute name="tags" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="group_id" type="xs:string" use="optional"/>
                      </xs:complexType>
                      <!-- name attribute is unique for mouth_texture -->
                      <xs:unique name="mouth_texture_unique_attribute">
                        <xs:selector xpath="mouth_texture"/>
                        <xs:field xpath="@name"/>
                      </xs:unique>
                    </xs:element>
                    <xs:element name="constraints" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:appinfo>
                          <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="constraint" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="term" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:attribute name="coefficient" type="xs:float" use="required"/>
                                    <xs:attribute name="key_id" type="xs:string" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="proportional_negative_and_positive" type="xs:float" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="gender" type="xs:integer" use="optional"/>
                  <xs:attribute name="name" type="xs:string" use="required"/>
                  <xs:attribute name="mesh_maturity_type" type="xs:string" use="optional"/>
                  <xs:attribute name="morph_key" type="xs:integer" use="optional"/>
                  <xs:attribute name="uses_stitching" type="xs:boolean" use="optional"/>
                  <xs:attribute name="body_mesh_suffix" type="xs:string" use="optional"/>
                  <xs:attribute name="min_scale" type="xs:float" use="optional"/>
                  <xs:attribute name="skeleton" type="xs:string" use="optional"/>
                  <xs:attribute name="body_meta_mesh" type="xs:string" use="optional"/>
                  <xs:attribute name="body_meta_mesh_shoulders" type="xs:string" use="optional"/>
                  <xs:attribute name="body_meta_mesh_upperbody" type="xs:string" use="optional"/>
                  <xs:attribute name="legs_mesh" type="xs:string" use="optional"/>
                  <xs:attribute name="hands_mesh" type="xs:string" use="optional"/>
                  <xs:attribute name="face_meta_mesh" type="xs:string" use="optional"/>
                  <xs:attribute name="underwear_bottom_mesh" type="xs:string" use="optional"/>
                  <xs:attribute name="underwear_top_mesh" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
          <!-- name attribute is unique for skin -->
          <xs:unique name="skin_unique_attribute">
            <xs:selector xpath="skin"/>
            <xs:field xpath="@name"/>
          </xs:unique>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- id attribute is unique for race -->
    <xs:unique name="race_unique_attribute">
      <xs:selector xpath="race"/>
      <xs:field xpath="@id"/>
    </xs:unique>

  </xs:element>
</xs:schema>
