Tools/XmlSchemas/GameCore/soln_item_usage_sets.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" id="item_usage_sets" elementFormDefault="qualified">
  <xs:element name="item_usage_sets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item_usage_set" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element name="flags" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flag" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- name attribute is unique for flag -->
                <xs:unique name="flag_unique_attribute">
                  <xs:selector xpath="flag"/>
                  <xs:field xpath="@name"/>
                </xs:unique>
              </xs:element>
              <xs:element name="idles" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="idle" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="action" type="xs:string" use="required"/>
                        <xs:attribute name="is_left_stance" type="xs:string" use="optional"/>
                        <xs:attribute name="require_free_left_hand" type="xs:boolean" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- action attribute is unique for idle -->
                <xs:unique name="idle_attribute">
                  <xs:selector xpath="idle"/>
                  <xs:field xpath="@action"/>
                </xs:unique>
              </xs:element>
              <xs:element name="rider_idles" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rider_idle" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="mount_id" type="xs:string" use="optional"/>
                        <xs:attribute name="pace" type="xs:integer" use="optional"/>
                        <xs:attribute name="action" type="xs:string" use="required"/>
                        <xs:attribute name="require_free_left_hand" type="xs:boolean" use="optional"/>
                        <xs:attribute name="required_mount_action" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- action attribute is unique for rider_idle -->
                <xs:unique name="rider_idle_attribute">
                  <xs:selector xpath="rider_idle"/>
                  <xs:field xpath="@action"/>
                </xs:unique>
              </xs:element>
              <xs:element name="movement_sets" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="movement_set" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="require_left_hand_usage_root_set" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- id attribute is unique for movement_set -->
                <xs:unique name="movement_set_unique_attribute">
                  <xs:selector xpath="movement_set"/>
                  <xs:field xpath="@id"/>
                </xs:unique>
              </xs:element>
              <xs:element name="usages" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="usage" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="style" type="xs:string" use="optional"/>
                        <xs:attribute name="ready_action" type="xs:string" use="optional"/>
                        <xs:attribute name="quick_release_action" type="xs:string" use="optional"/>
                        <xs:attribute name="release_action" type="xs:string" use="optional"/>
                        <xs:attribute name="quick_blocked_action" type="xs:string" use="optional"/>
                        <xs:attribute name="blocked_action" type="xs:string" use="optional"/>
                        <xs:attribute name="is_mounted" type="xs:string" use="optional"/>
                        <xs:attribute name="defend_action" type="xs:string" use="optional"/>
                        <xs:attribute name="defend_active_action" type="xs:string" use="optional"/>
                        <xs:attribute name="defend_parry_light_action" type="xs:string" use="optional"/>
                        <xs:attribute name="require_left_hand_usage_root_set" type="xs:string" use="optional"/>
                        <xs:attribute name="require_free_left_hand" type="xs:string" use="optional"/>
                        <xs:attribute name="is_left_stance" type="xs:string" use="optional"/>
                        <xs:attribute name="strike_type" type="xs:string" use="optional"/>
                        <xs:attribute name="begin_hand_position" type="xs:string" use="optional"/>
                        <xs:attribute name="begin_hand_rotation" type="xs:string" use="optional"/>
                        <xs:attribute name="begin_arm_rotation" type="xs:string" use="optional"/>
                        <xs:attribute name="begin_arm_length" type="xs:string" use="optional"/>
                        <xs:attribute name="end_hand_position" type="xs:string" use="optional"/>
                        <xs:attribute name="end_hand_rotation" type="xs:string" use="optional"/>
                        <xs:attribute name="end_arm_rotation" type="xs:string" use="optional"/>
                        <xs:attribute name="end_arm_length" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="kick_usages" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kick_usage" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="release_action" type="xs:string" use="optional"/>
                        <xs:attribute name="hit_action" type="xs:string" use="optional"/>
                        <xs:attribute name="require_free_left_hand" type="xs:boolean" use="optional"/>
                        <xs:attribute name="is_left_stance" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="guards" minOccurs="0">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="guard" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="style" type="xs:string" use="optional"/>
                        <xs:attribute name="require_free_left_hand" type="xs:string" use="optional"/>
                        <xs:attribute name="require_left_hand_usage_root_set" type="xs:boolean" use="optional"/>
                        <xs:attribute name="hand_position" type="xs:string" use="optional"/>
                        <xs:attribute name="hand_rotation" type="xs:string" use="optional"/>
                        <xs:attribute name="arm_rotation" type="xs:string" use="optional"/>
                        <xs:attribute name="arm_length" type="xs:boolean" use="optional"/>
                        <xs:attribute name="is_left_stance" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="base_set" type="xs:string" use="optional"/>
            <xs:attribute name="has_single_stance" type="xs:boolean" use="optional"/>
            <xs:attribute name="equip_sound" type="xs:string" use="optional"/>
            <xs:attribute name="unequip_sound" type="xs:string" use="optional"/>
            <xs:attribute name="last_arrow_sound" type="xs:string" use="optional"/>
            <xs:attribute name="switch_to_alternate_action" type="xs:string" use="optional"/>
            <xs:attribute name="switch_to_alternate_action_left_stance" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- name attribute is unique for color_grade -->
    <xs:unique name="item_usage_set_unique_attribute">
      <xs:selector xpath="item_usage_set"/>
      <xs:field xpath="@id"/>
    </xs:unique>

  </xs:element>
</xs:schema>
