Tools/XmlSchemas/GameCore/soln_action_sets.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" id="action_sets" elementFormDefault="qualified">
  <xs:element name="action_sets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="action_set" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="action" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="type" type="xs:string" use="required"/>
                  <xs:attribute name="animation" type="xs:string" use="optional"/>
                  <xs:attribute name="alternative_group" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="skeleton" type="xs:string" use="optional"/>
            <xs:attribute name="movement_system" type="xs:string" use="optional"/>
          </xs:complexType>
          <!-- type attribute is unique for action -->
          <xs:unique name="action_unique_attribute">
            <xs:selector xpath="action"/>
            <xs:field xpath="@type"/>
          </xs:unique>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- id attribute is unique for action_set -->
    <xs:unique name="action_set_unique_attribute">
      <xs:selector xpath="action_set"/>
      <xs:field xpath="@id"/>
    </xs:unique>

  </xs:element>
</xs:schema>
