Tools/XmlSchemas/GameCore/soln_full_movement_sets.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" id="sound_parameter_data" elementFormDefault="qualified">
  <xs:element name="full_movement_sets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="full_movement_set" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="movement_set" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                  <xs:attribute name="left_stance" type="xs:boolean" use="optional"/>
                  <xs:attribute name="movement_mode" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
          </xs:complexType>
          <!-- id attribute is unique for movement_set -->
          <xs:unique name="movement_set_unique_attribute">
            <xs:selector xpath="movement_set"/>
            <xs:field xpath="@id"/>
          </xs:unique>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- id attribute is unique for full_movement_set -->
    <xs:unique name="full_movement_set_unique_attribute">
      <xs:selector xpath="full_movement_set"/>
      <xs:field xpath="@id"/>
    </xs:unique>

  </xs:element>
</xs:schema>
