Tools/XmlSchemas/GameCore/WeaponDescriptions.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="WeaponDescriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="WeaponDescription">
          <xs:complexType>
            <xs:all>
              <xs:element name="WeaponFlags">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="WeaponFlag">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- value attribute is unique for WeaponDescription -->
                <xs:unique name="WeaponFlag_unique_attribute">
                  <xs:selector xpath="WeaponFlag"/>
                  <xs:field xpath="@value"/>
                </xs:unique>
              </xs:element>
              <xs:element name="AvailablePieces">
                <xs:annotation>
                  <xs:appinfo>
                    <appSpecificNote>AlwaysPreferMerge</appSpecificNote>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="AvailablePiece">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <!-- id attribute is unique for AvailablePiece -->
                <xs:unique name="AvailablePiece_unique_attribute">
                  <xs:selector xpath="AvailablePiece"/>
                  <xs:field xpath="@id"/>
                </xs:unique>
              </xs:element>
            </xs:all>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="weapon_class" type="xs:string" use="required"/>
            <xs:attribute name="item_usage_features" type="xs:string" use="required"/>
            <xs:attribute name="rotated_in_hand" type="xs:boolean" use="optional"/>
            <xs:attribute name="use_center_of_mass_as_hand_base" type="xs:boolean" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- id attribute is unique for WeaponDescription -->
    <xs:unique name="WeaponDescription_unique_attribute">
      <xs:selector xpath="WeaponDescription"/>
      <xs:field xpath="@id"/>
    </xs:unique>

  </xs:element>
</xs:schema>
